.icon-container {
    border-radius: 4px;
    border: 1px solid #6dc9c9;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    margin: 2px;
    text-align: center;
}
i {
    padding-top: 5px;
    font-size: 20px;
    color: #ff6f69;
}