.view-container {
  background-image: url("../../assets/img/background.png");
  color: #5c5c5c;
  width: 90%;
  border: #6dc9c9 1px solid;
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 2rem;
}
.red-title {
  color: #ff6f69;
}
.blue-title {
  color: #6dc9c9;
}
.centering {
  text-align: center;
}
.row-to-center {
  text-align: center
}
.center-pls {
  text-align: center
}