.project-img {
    width: 125px
}
.project-title {
    color: #ff6f69;
}

.project-container {
    background-color: #ffe1e0;
    border: 1px #6dc9c9 solid;
    border-radius: 5px;
    margin: 2rem;
    padding: 20px;
}